<h1>Update Project</h1>

{{#if errors.length}}
    <ul>
      {{#each errors}}
        <li class="error-message">{{this}}</li>
      {{/each}}
    </ul>
{{/if}}

{{#if isLoggedIn}}
    <form action="" method="POST" class="container">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{project.title}}" required>
        </div>
        
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" required>{{project.description}}</textarea>
        </div> 
        
        <div class="form-group">
            <label for="createdDate">Created Date:</label>
            <input type="date" id="createdDate" name="createdDate" value="{{project.createdDate}}" required>
        </div>
        
        <div class="form-group">
            <label for="lastUpdatedDate">Last Updated Date:</label>
            <input type="date" id="lastUpdatedDate" name="lastUpdatedDate" value="{{project.lastUpdatedDate}}" required>
        </div>

        <button type="submit" class="btn">Update Project</button>
    </form>
{{/if}}	


